<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Guia de Perguntas</title>
  </head>
  <body>
    <h1>Guia de Perguntas</h1>
    <hr />
    <h3>Lista de Perguntas</h3>

    <h2>
      <%= nome %>
    </h2>
    <%= lang %> <%= empresa %> <%= valor %>

    <h2>Exemplo de Array com EJS</h2>

    <% produtos.forEach(function(produto){ %>
    <p>
      <%= produto.name %> <%= produto.price%> <%= produto.category %>
    </p>
    <% }) %>

    <!-- Usando sintaxe mais nova e recomendada -->

    <h2>Exemplo de Array com EJS + Sintaxe Moderna</h2>
    <% for (let produto of produtos) { %>
    <p>
      <%= produto.name %> <%= produto.price%> <%= produto.category %>
    </p>
    <% } %>

    <img src="/img/code.jpg" alt="Code img" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
